.tableBlock {
  width: 100%;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.07);
  position: relative;
  &__paginationBlock {
    padding: 40px 0 24px;
    display: flex;
    justify-content: center;
  }

  &__pagination {
    width: 384px;
    height: 60px;
    border: #2A3440 2px solid;
  }
}
.table {
  width: 100%;
  font-size: 16px;
  border-collapse: collapse;

  th, td {
    text-align: start;
    padding: 30px 2px 30px 32px;
  }

  th {
    border-bottom: 1px #35536B solid;
    line-height: 32px;
  }
  td {
    font-weight: 500;
    border-bottom: 1px #EBEFF2 solid;
  }
  tr {
    transition: all 0.3s;
  }
  tbody tr:hover {
    background-color: #f0f1f1;
  }
  &__numSymbol {
    color: #5B7E9A;
  }
  &__btn {
    background: none;
    border: none;
    cursor: pointer;

    img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
    }
  }
}
@media (max-height: 850px) {
  .tableBlock__paginationBlock {
    padding: 28px 0 17px;
  }
  .tableBlock__pagination {
    height: 40px;
  }
  .table th, .table td {
    padding: 18px 8px 18px 24px;
  }
}
.categoryDropdown {
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  &__toggle {
    position: relative;

    margin-left: 7px;
  }

  &__menu {
    padding: 14px;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    width: max-content;
    background-color: #EBEFF2;
    z-index: 1;
  }
  &__item {
    position: relative;
    margin-bottom: 10px;
  }

  &__item:hover {
    cursor: context-menu;
    img {
      opacity: 1;
    }
    color: #F45656;
  }

  &__deleteIcon{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
  }
  &__addCategoryButton {
    font-weight: 600;
    font-size: 16px;
    color: #5B7E9A;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin-left: 27px;
    }
  }
}