.loginBlock {
  //max-width: 1440px;
  width: 100%;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
}
.login__content {
  width: 50%;
}
.login_form {
  max-width: 534px;
  width: 100%;
}
.content_title {
  font-size: 32px;
  font-family: "Yaro", sans-serif;
  margin: 32px 0 -60px 32px;
}
.black {
  color: #2a3440;
}

.primary {
  color: #f47356;
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 16px;
  h1 {
    font-size: 72px;
    margin-bottom: 38px;
  }

  .input_login {
    max-width: 534px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #ebeff2;
    height: 66px;
    border-radius: 20px;
    color: #5f6366;
    font-size: 18px;
    padding: 15px 20px;
    margin-bottom: 32px;
  }
}
.login_passwordInput {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 534px;
  width: 100%;
  background-color: #ebeff2;
  height: 66px;
  border-radius: 20px;
  padding: 15px 20px;
  margin-bottom: 48px;

  input {
    border: none;
    outline: none;
    width: 500px;
    font-size: 18px;
    margin-right: 10px;
    background-color: #ebeff2;
    color: #5f6366;
  }
  img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
.login__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  padding: 16px 16px 16px 0;
  img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
  }
}

.input_error {
  border: 1px solid #f45656;
  color: #f47356;
}
